<md-toolbar>
	<div class="md-toolbar-tools"
		ng-style="{
			'backgroundColor': $root.getColor()
			}"
	>
		<span flex>You have 5 notifications</span>
		<span flex>2 invitations</span>
		<span flex>3 pending votes</span>
		<md-button ng-show="$root.firebaseUser == null" class="md-raised" aria-label="Login" ng-click="signIn()"
		>Login</md-button>
		<div ng-show="$root.firebaseUser != null" id="user-pic"></div>
		<md-button ng-show="$root.firebaseUser != null" class="md-raised" aria-label="Login"
		ng-click="signOut()">Logoff</md-button>
	</div>
</md-toolbar>