<div ng-repeat="step in $root.stepList"
	ng-click="$root.display.step = $index"
  	class="block step"
	tabindex="-1"
	ng-class="$root.display.step == $index ? 'selected' : '' " >
	<h2>{{$index + 1}}. {{step.title}}</h2> {{step.description}}
	<div ng-show='$root.applicationList[$root.display.selectedApplication].path && step.path '>
		{{$root.applicationList[$root.display.selectedApplication].path}}/{{step.path}}
	</div>
	<{{step.path}}></{{step.path}}>
</div>
<div ng-click="$root.display.step = $root.stepList.length + 1 "
  	class="block vote"
	tabindex="-1"
	ng-class="$root.display.step == $root.stepList.length + 1 ? 'selected' : '' " >
	<h2>Wote!</h2>
</div>

