<div class="whyapplications">
  <div ng-click="$root.display.whyapplication = 'YOP' "
  	class="message whyapplication">
      <h1>YOP</h1>
      <h2>Where are you going to eat ?</h2>
  </div>

  <div ng-click="$root.display.whyapplication = 'PlanE' "
  	class="message whyapplication">
      <h1>PlanE</h1>
      <h2>Where are you going to travel ?</h2>
  </div>
  
  <div ng-click="$root.display.whyapplication = '-1' "
  	class="message whyapplication">
      <h1>Other ?</h1>
      <h2>What do you want us to help you with ?</h2>
  </div>
  <div ng-click="$root.display.whyapplication = '-1' "
  	class="message whyapplication">
  	<h1></h1>
  	<h2><br/>...</h2>
  </div>
</div>