
.block.application {
    width: calc(50% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid;
    background-size: cover;
    background-color: transparent;
    box-shadow: none;
    height: 150px;
}


.block.application.selected {
    /*border: 0px solid;*/
}

.block.application h2 {
	display: none;
    text-align: center;
}


.block.application:hover h2 {
	display: block;
}

.block.application:hover {
	background: none; 
}