<div ng-show="$root.firebaseUser" class="block">
	<form>
		<h1>Welcome in Wote's group management</h1>

		<!-- Group selection -->
		<div class="group-selection">
			<h2 ng-show="groups.length">List of existing groups</h2>
			<h2 ng-show="!groups.length">No existing group</h2>
			<md-radio-group ng-model="selectedGroupId">
				<div ng-repeat="group in groups" class="group-row">
					<md-radio-button ng-value="$index" class="group-row-radio">
						{{group.name}}
						<div class="isUpdated" ng-show="group.isUpdated">*</div>
					</md-radio-button>
					<md-button ng-show="$root.firebaseUser.uid==group.admin.id" class="md-raised button-remove group-row-button " ng-click="deleteGroup($index)">-</md-button>
				</div>
				<div class="group-row">
					<md-radio-button ng-value="-1" >
						+ Create a new group
						<div class="isUpdated" ng-show="newGroup.isUpdated">*</div>
					</md-radio-button>
				</div>
			</md-radio-group>
		</div>

		<!-- Group name -->
		<div class="group-creation" ng-show="selectedGroupId != -1">
			<h2>Group created by </h2>
			<label ng-show="$root.firebaseUser.uid==groups[selectedGroupId].admin.id">You own this group</label>
			<label ng-show="$root.firebaseUser.uid!=groups[selectedGroupId].admin.id">{{groups[selectedGroupId].admin.name}}</label>
		</div>

		<div class="group-creation" ng-show="selectedGroupId == -1">
			<h2>Enter the name of the new group</h2>
			<md-input-container class="col-xs-24">
			    <label>Group Name</label>
			    <input ng-model="newGroup.name">
			</md-input-container>
		</div>

		<!-- Group edition -->
		<div class="group-edition">
			<h2 ng-show="groups[selectedGroupId].people.length">List of people in this group</h2>
			<h2 ng-show="!groups[selectedGroupId].people.length">No one in this group</h2>
			
			<div class="col-xs-20">
				<md-input-container class="col-xs-10">
				    <label>Some Name</label>
				    <input ng-model="someone.name">	
				</md-input-container> 
				<md-input-container class="col-xs-10">  
				    <label>Some eMail</label> 
				    <input ng-model="someone.email">
				</md-input-container>
			</div>

		    <ul>
		    	<li ng-repeat="people in (selectedGroupId==-1?newGroup.people:groups[selectedGroupId].people)"
		    		class="someone col-xs-24"
		    		ng-click="$parent.clicked == $index ? $parent.clicked =-1 : $parent.clicked = $index"
		    		ng-class="$parent.clicked == $index ? 'clicked' : ''"
		    		tabindex="-1" 
		    	>
	    			<div class="someone-name">{{getInitial(people.name)}}</div>
	    			<div class="someone-email">{{people.email}}</div>
					<md-button class="someone-remove md-raised button-remove" ng-click="removeSomeone($index)">-</md-button>
		    	</li>
		    	<li 
		    		ng-click="addSomeone()"
		    		class="someone col-xs-24"
		    		tabindex="-1"
		    	>
		    		<div class="someone-name">+</div>
		    	</li>
			</ul>
			<div class="col-xs-24">
				<md-button class="md-raised button-submit col-xs-24" ng-click="saveTheGroup()">Save the Group</md-button>
			</div>
		</div>
	</form>

</div>