
.col-xs-24 {
    width: 100%;
    display: inline-block;
    float: left;
    margin: 0px;
}

.col-xs-20 {
    width: 83.33%;
    display: inline-block;
    float: left;
    margin: 0px;
}

.col-xs-12 {
    width: 50%;
    display: inline-block;
    float: left;
    margin: 0px;
}
.col-xs-10 {
    width: 41.67%;
    display: inline-block;
    float: left;
    margin: 0px;
}

.col-xs-4 {
    width: 16.67%;
    display: inline-block;
    float: left;
    margin: 0px;
}

.button-add {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: block;
    float: right;
}

.group-radio {
	float: left;
}

.group-item {
    height: 60px;
    line-height: 60px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
    margin-bottom: 5px;
}

.isUpdated.ng-scope {
    color: rgba(255,64,129,0.87);
    display: inline-block;
    font-size: 25px;
}

.group-row-radio {
	width: 80%;
}
.button-remove.group-row-button {
    height: 20px;
    width: 20px;
    max-width: 20%;
    min-width: 0px;
    min-height: 0px;
    line-height: 20px;
    float: right;
}
.group-row {
	width: 100%;
	padding: 0px 10px;
}
.group-row, .group-row md-radio-button{	
    float: left;
    position: relative;
}

.group-creation {
    margin-bottom: 20px;
}

.someone, .someone-email, .someone-remove, .someone-name {
	border-radius: 25px;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.someone-email, .someone-remove, .someone-name {
	position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    z-index: 9;
}


.someone {
	position: relative;
	cursor: pointer;
    margin: 10px;
}

.someone-name {
	background: #ECEFF1;
    z-index: 10;
    text-align: center;
    line-height: 50px;
}
.someone.clicked .someone-name {
	background: {{display.mainColor}};
	color: white;
    z-index: 12;
}

.someone-email {
	background: green;
	overflow: hidden;
    opacity: 0;
  	transition: opacity 0.1s linear, left 0.1s, top 0.1s;
}

.someone-remove {
	background: green;
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
  	transition: opacity 0.1s linear, left 0.1s, top 0.1s;
}

.someone.clicked .someone-remove {
	left: 0px;
	top: 40px;
    opacity: 1;
    z-index: 11;
}

.someone.clicked .someone-email {
	left: 0px;
	top: -40px;
    opacity: 1;
    z-index: 11;
}


