<div class="message">
	<h1>Welcome in YOP part</h1>
	<h2>List of existing groups</h2>
	<ul>
		<li ng-repeat="group in groups">
			{{group.$id}} - {{group.name}}
		</li>
	</ul>

	<h2>Create a new group</h2>
	<form>
		<md-input-container class="col-xs-24">
		    <label>Group Name</label>
		    <input ng-model="newGroup.name">
		</md-input-container>
	    <ul>
	    	<li ng-repeat="people in newGroup.people" class="col-xs-24">
	    		<label class="col-xs-12">{{people.name}}</label>
	    		<label class="col-xs-12">{{people.email}}</label>
	    	</li>
		</ul>

		<div class="col-xs-20">
			<md-input-container class="col-xs-10">
			    <label>Some Name</label>
			    <input ng-model="someone.name">	
			</md-input-container> 
			<md-input-container class="col-xs-10">  
			    <label>Some eMail</label> 
			    <input ng-model="someone.email">
			</md-input-container>
		</div>
		<div class="col-xs-4">
			<md-button class="md-raised button-add col-xs-4" ng-click="addSomeone()">+</md-button>
		</div>
		<div class="col-xs-24">
			<md-button class="md-raised button-submit col-xs-24" ng-click="createNewGroup()">Create New Group</md-button>
		</div>
	</form>

</div>